#startbutton {
  /* left: 44px !important;
  top: 375px; */
  display: block;
  width: 200px;
  height: 35px;
  margin: 0px;
  background: #3d4460 !important;
  background-color: #3d4460 !important;
  color: white !important;
  border-radius: 3px;
}

#startbutton img {
  display: none;
}
