#startbutton {
  /* left: 44px !important;
  top: 375px; */
  display: block;
  width: 200px;
  height: 35px;
  margin: 0px;
  background: blue !important;
  background-color: blue !important;
  /* color: #3a73b1; */
  border-radius: 3px;
}

#startbutton img {
  display: none;
}
